/******************************************************************
Site Name:
Author:

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/
/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
/* line 17, ../scss/editor-style.scss */
body#tinymce.wp-editor {
  /* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
  /* ==========================================================================
     HTML5 display definitions
     ========================================================================== */
  /**
   * Correct `block` display not defined in IE 8/9.
   */
  /**
   * Correct `inline-block` display not defined in IE 8/9.
   */
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  /**
   * Address `[hidden]` styling not present in IE 8/9.
   * Hide the `template` element in IE, Safari, and Firefox < 22.
   */
  /* ==========================================================================
     Base
     ========================================================================== */
  /**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
  /**
   * Remove default margin.
   */
  /* ==========================================================================
     Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  /**
   * Address `outline` inconsistency between Chrome and other browsers.
   */
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  /* ==========================================================================
     Typography
     ========================================================================== */
  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address styling not present in IE 8/9, Safari 5, and Chrome.
   */
  /**
   * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address styling not present in Safari 5 and Chrome.
   */
  /**
   * Address differences between Firefox and other browsers.
   */
  /*
   * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
  
   // this is disabled by default due to so many requests to remove it from clients
  
  p {
    -webkit-hyphens: auto;
    -epub-hyphens:   auto;
    -moz-hyphens:    auto;
    hyphens:         auto;
  
  }
  */
  /*
   * Addresses margins set differently in IE6/7.
   */
  /**
   * Correct font family set oddly in Safari 5 and Chrome.
   */
  /**
   * Improve readability of pre-formatted text in all browsers.
   */
  /**
   * Set consistent quote types.
   */
  /**
   * Address inconsistent and variable font size in all browsers.
   */
  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  /* ==========================================================================
    Lists
  ========================================================================== */
  /*
   * Addresses margins set differently in IE6/7.
   */
  /*
   * Addresses paddings set differently in IE6/7.
   */
  /*
   * Corrects list images handled incorrectly in IE7.
   */
  /* ==========================================================================
    Embedded content
  ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9.
   */
  /**
   * Correct overflow displayed oddly in IE 9.
   */
  /* ==========================================================================
     Figures
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari 5.
   */
  /* ==========================================================================
     Forms
     ========================================================================== */
  /**
   * Define consistent border, margin, and padding.
   */
  /**
   * 1. Correct `color` not being inherited in IE 8/9.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  /**
   * 1. Correct font family not being inherited in all browsers.
   * 2. Correct font size not being inherited in all browsers.
   * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
   * Correct `select` style inheritance in Firefox 4+ and Opera.
   */
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  /**
   * Re-set default cursor for disabled elements.
   */
  /**
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  /**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
  /**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
  /**
   * Remove inner padding and border in Firefox 4+.
   */
  /**
   * 1. Remove default vertical scrollbar in IE 8/9.
   * 2. Improve readability and alignment in all browsers.
   */
  /* ==========================================================================
     Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */
  /*
  use the best ampersand
  http://simplebits.com/notebook/2008/08/14/ampersands-2/
  */
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Variables
  
  Here is where we declare all our variables like colors, fonts,
  base values, and defaults. We want to make sure this file ONLY
  contains variables that way our files don't get all messy.
  No one likes a mess.
  
  ******************************************************************/
  /*********************
  COLORS
  Need help w/ choosing your colors? Try this site out:
  http://0to255.com/
  *********************/
  /*
  Here's a great tutorial on how to
  use color variables properly:
  http://sachagreif.com/sass-color-variables/
  */
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Typography
  
  Need to import a font or set of icons for your site? Drop them in
  here or just use this to establish your typographical grid. Or not.
  Do whatever you want to...GOSH!
  
  Helpful Articles:
  http://trentwalton.com/2012/06/19/fluid-type/
  http://ia.net/blog/responsive-typography-the-basics/
  http://alistapart.com/column/responsive-typography-is-a-physical-discipline
  
  ******************************************************************/
  /*********************
  FONT FACE (IN YOUR FACE)
  *********************/
  /*To embed your own fonts, use this syntax
    and place your fonts inside the
    library/fonts folder. For more information
    on embedding fonts, go to:
    http://www.fontsquirrel.com/
    Be sure to remove the comment brackets.
  */
  /*  @font-face {
        font-family: 'Font Name';
        // the actual url should be ../fonts/font-name.eot
        src: url('library/fonts/font-name.eot');
        src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
               url('library/fonts/font-name.woff') format('woff'),
               url('library/fonts/font-name.ttf') format('truetype'),
               url('library/fonts/font-name.svg#font-name') format('svg');
        font-weight: normal;
        font-style: normal;
    }
  */
  /*
  The following is based of Typebase:
  https://github.com/devinhunt/typebase.css
  I've edited it a bit, but it's a nice starting point.
  */
  /*
   i imported this one in the functions file so bones would look sweet.
   don't forget to remove it for your site.
  */
  /* some nice typographical defaults (if you want to use them uncomment this section)
  more here: http://www.newnet-soft.com/blog/csstypography
  
  p { 
    -ms-word-wrap: break-word;
    word-break: break-word; //non-standart css for webkit
    word-wrap: break-word;
    // cleaning up the ragged lines and breaks (uncomment if you want to use this)
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
     -webkit-hyphenate-after: 3;
             hyphenate-lines: 3;
  }
  */
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Sass Functions
  
  You can do a lot of really cool things in Sass. Functions help you
  make repeated actions a lot easier. They are really similar to mixins,
  but can be used for so much more.
  
  Anyway, keep them all in here so it's easier to find when you're
  looking for one.
  
  For more info on functions, go here:
  http://sass-lang.com/documentation/Sass/Script/Functions.html
  
  ******************************************************************/
  /*********************
  COLOR FUNCTIONS
  These are helpful when you're working
  with shadows and such things. It's essentially
  a quicker way to write RGBA.
  
  Example:
  box-shadow: 0 0 4px black(0.3);
  compiles to:
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  *********************/
  /*********************
  RESPONSIVE HELPER FUNCTION
  If you're creating a responsive site, then
  you've probably already read
  Responsive Web Design: http://www.abookapart.com/products/responsive-web-design
  
  Here's a nice little helper function for calculating
  target / context
  as mentioned in that book.
  
  Example:
  width: cp(650px, 1000px);
  or
  width: calc-percent(650px, 1000px);
  both compile to:
  width: 65%;
  *********************/
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Mixins Stylesheet
  
  This is where you can take advantage of Sass' great features: Mixins.
  I won't go in-depth on how they work exactly,
  there are a few articles below that will help do that. What I will
  tell you is that this will help speed up simple changes like
  changing a color or adding CSS3 techniques gradients.
  
  A WORD OF WARNING: It's very easy to overdo it here. Be careful and
  remember less is more.
  
  Helpful:
  http://sachagreif.com/useful-sass-mixins/
  http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
  http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/
  
  ******************************************************************/
  /*********************
  TRANSITION
  *********************/
  /*
  I totally rewrote this to be cleaner and easier to use.
  You'll need to be using Sass 3.2+ for these to work.
  Thanks to @anthonyshort for the inspiration on these.
  USAGE: @include transition(all 0.2s ease-in-out);
  */
  /*********************
  CSS3 GRADIENTS
  Be careful with these since they can
  really slow down your CSS. Don't overdo it.
  *********************/
  /* @include css-gradient(#dfdfdf,#f8f8f8); */
  /*********************
  BOX SIZING
  *********************/
  /* @include box-sizing(border-box); */
  /* NOTE: value of "padding-box" is only supported in Gecko. So
  probably best not to use it. I mean, were you going to anyway? */
  width: 731px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #5c6b80;
  -webkit-font-smoothing: antialiased;
  /*********************
	LINK STYLES
	*********************/
  /******************************************************************
  H1, H2, H3, H4, H5 STYLES
  ******************************************************************/
  padding: 1.5em 1.5em 0;
  /*********************
  LARGER MOBILE DEVICES
  This is for devices like the Galaxy Note or something that's
  larger than an iPhone but smaller than a tablet. Let's call them
  tweeners.
  *********************/
}
/* line 12, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor article,
body#tinymce.wp-editor aside,
body#tinymce.wp-editor details,
body#tinymce.wp-editor figcaption,
body#tinymce.wp-editor figure,
body#tinymce.wp-editor footer,
body#tinymce.wp-editor header,
body#tinymce.wp-editor hgroup,
body#tinymce.wp-editor main,
body#tinymce.wp-editor nav,
body#tinymce.wp-editor section,
body#tinymce.wp-editor summary {
  display: block;
}
/* line 31, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor audio,
body#tinymce.wp-editor canvas,
body#tinymce.wp-editor video {
  display: inline-block;
}
/* line 42, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor audio:not([controls]) {
  display: none;
  height: 0;
}
/* line 52, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor [hidden],
body#tinymce.wp-editor template {
  display: none;
}
/* line 67, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* line 77, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor body {
  margin: 0;
}
/* line 89, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor a {
  background: transparent;
}
/* line 97, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor a:focus {
  outline: thin dotted;
}
/* line 105, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor a:active,
body#tinymce.wp-editor a:hover {
  outline: 0;
}
/* line 119, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* line 128, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor abbr[title] {
  border-bottom: 1px dotted;
}
/* line 136, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor b,
body#tinymce.wp-editor strong,
body#tinymce.wp-editor .strong {
  font-weight: bold;
}
/* line 146, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor dfn,
body#tinymce.wp-editor em,
body#tinymce.wp-editor .em {
  font-style: italic;
}
/* line 156, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/* line 179, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor pre {
  margin: 0;
}
/* line 187, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor code,
body#tinymce.wp-editor kbd,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/* line 199, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor pre {
  white-space: pre-wrap;
}
/* line 207, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/* line 214, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor q:before,
body#tinymce.wp-editor q:after {
  content: '';
  content: none;
}
/* line 220, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor small, body#tinymce.wp-editor .small {
  font-size: 75%;
}
/* line 228, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor sub,
body#tinymce.wp-editor sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 236, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor sup {
  top: -0.5em;
}
/* line 240, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor sub {
  bottom: -0.25em;
}
/* line 252, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor dl,
body#tinymce.wp-editor menu,
body#tinymce.wp-editor ol,
body#tinymce.wp-editor ul {
  margin: 1em 0;
}
/* line 259, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor dd {
  margin: 0;
}
/* line 267, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor menu {
  padding: 0 0 0 40px;
}
/* line 271, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor ol,
body#tinymce.wp-editor ul {
  padding: 0;
  list-style-type: none;
}
/* line 281, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor nav ul,
body#tinymce.wp-editor nav ol {
  list-style: none;
  list-style-image: none;
}
/* line 295, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor img {
  border: 0;
}
/* line 303, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor svg:not(:root) {
  overflow: hidden;
}
/* line 315, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor figure {
  margin: 0;
}
/* line 327, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/* line 338, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/* line 349, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor button,
body#tinymce.wp-editor input,
body#tinymce.wp-editor select,
body#tinymce.wp-editor textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/* line 363, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor button,
body#tinymce.wp-editor input {
  line-height: normal;
}
/* line 375, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor button,
body#tinymce.wp-editor select {
  text-transform: none;
}
/* line 388, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor button,
body#tinymce.wp-editor html input[type="button"],
body#tinymce.wp-editor input[type="reset"],
body#tinymce.wp-editor input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/* line 400, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor button[disabled],
body#tinymce.wp-editor html input[disabled] {
  cursor: default;
}
/* line 410, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor input[type="checkbox"],
body#tinymce.wp-editor input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/* line 422, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/* line 434, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor input[type="search"]::-webkit-search-cancel-button,
body#tinymce.wp-editor input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 443, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor button::-moz-focus-inner,
body#tinymce.wp-editor input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 454, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* line 467, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 474, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 481, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor .image-replacement,
body#tinymce.wp-editor .ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 489, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor .clearfix, body#tinymce.wp-editor .cf {
  zoom: 1;
}
/* line 491, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor .clearfix:before, body#tinymce.wp-editor .clearfix:after, body#tinymce.wp-editor .cf:before, body#tinymce.wp-editor .cf:after {
  content: "";
  display: table;
}
/* line 492, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor .clearfix:after, body#tinymce.wp-editor .cf:after {
  clear: both;
}
/* line 499, ../scss/partials/_normalize.scss */
body#tinymce.wp-editor span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}
/* line 45, ../scss/editor-style.scss */
body#tinymce.wp-editor a, body#tinymce.wp-editor a:visited {
  color: #f01d4f;
  /* on hover */
  /* on click */
}
/* line 49, ../scss/editor-style.scss */
body#tinymce.wp-editor a:hover, body#tinymce.wp-editor a:focus, body#tinymce.wp-editor a:visited:hover, body#tinymce.wp-editor a:visited:focus {
  color: #d10e3c;
}
/* line 58, ../scss/editor-style.scss */
body#tinymce.wp-editor a:link, body#tinymce.wp-editor a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/* line 68, ../scss/editor-style.scss */
body#tinymce.wp-editor h1, body#tinymce.wp-editor .h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor .h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor .h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor .h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
}
/* line 71, ../scss/editor-style.scss */
body#tinymce.wp-editor h1 a, body#tinymce.wp-editor .h1 a, body#tinymce.wp-editor h2 a, body#tinymce.wp-editor .h2 a, body#tinymce.wp-editor h3 a, body#tinymce.wp-editor .h3 a, body#tinymce.wp-editor h4 a, body#tinymce.wp-editor .h4 a, body#tinymce.wp-editor h5 a, body#tinymce.wp-editor .h5 a {
  text-decoration: none;
}
/* line 76, ../scss/editor-style.scss */
body#tinymce.wp-editor h1, body#tinymce.wp-editor .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
/* line 81, ../scss/editor-style.scss */
body#tinymce.wp-editor h2, body#tinymce.wp-editor .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
/* line 87, ../scss/editor-style.scss */
body#tinymce.wp-editor h3, body#tinymce.wp-editor .h3 {
  font-size: 1.125em;
}
/* line 91, ../scss/editor-style.scss */
body#tinymce.wp-editor h4, body#tinymce.wp-editor .h4 {
  font-size: 1.1em;
  font-weight: 700;
}
/* line 96, ../scss/editor-style.scss */
body#tinymce.wp-editor h5, body#tinymce.wp-editor .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 105, ../scss/editor-style.scss */
body#tinymce.wp-editor p {
  margin: 0 0 1.5em;
}
/* line 109, ../scss/editor-style.scss */
body#tinymce.wp-editor table {
  width: 100%;
  border: 1px solid #eaedf2;
  margin-bottom: 1.5em;
}
/* line 114, ../scss/editor-style.scss */
body#tinymce.wp-editor table caption {
  margin: 0 0 7px;
  font-size: 0.75em;
  color: #9fa6b4;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 123, ../scss/editor-style.scss */
body#tinymce.wp-editor tr {
  border-bottom: 1px solid #eaedf2;
}
/* line 125, ../scss/editor-style.scss */
body#tinymce.wp-editor tr:nth-child(even) {
  background-color: #f8f9fa;
}
/* line 130, ../scss/editor-style.scss */
body#tinymce.wp-editor td {
  padding: 7px;
  border-right: 1px solid #eaedf2;
}
/* line 134, ../scss/editor-style.scss */
body#tinymce.wp-editor td:last-child {
  border-right: 0;
}
/* line 139, ../scss/editor-style.scss */
body#tinymce.wp-editor th {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaedf2;
  border-right: 1px solid #eaedf2;
}
/* line 144, ../scss/editor-style.scss */
body#tinymce.wp-editor th:last-child {
  border-right: 0;
}
/* line 149, ../scss/editor-style.scss */
body#tinymce.wp-editor blockquote {
  margin: 0 0 1.5em 0.75em;
  padding: 0 0 0 0.75em;
  border-left: 3px solid #2980b9;
  font-style: italic;
  color: #9fa6b4;
}
/* line 160, ../scss/editor-style.scss */
body#tinymce.wp-editor dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 167, ../scss/editor-style.scss */
body#tinymce.wp-editor img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 173, ../scss/editor-style.scss */
body#tinymce.wp-editor .size-auto,
body#tinymce.wp-editor .size-full,
body#tinymce.wp-editor .size-large,
body#tinymce.wp-editor .size-medium,
body#tinymce.wp-editor .size-thumbnail {
  max-width: 100%;
  height: auto;
}
/* line 182, ../scss/editor-style.scss */
body#tinymce.wp-editor pre {
  background: #323944;
  color: #f8f9fa;
  font-size: 0.9em;
  padding: 1.5em;
  margin: 0 0 1.5em;
  border-radius: 3px;
}
@media only screen and (min-width: 481px) {
  /* line 17, ../scss/editor-style.scss */
  body#tinymce.wp-editor {
    /* at this larger size, we can start to align images */
  }
  /* line 200, ../scss/editor-style.scss */
  body#tinymce.wp-editor .alignleft, body#tinymce.wp-editor img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 205, ../scss/editor-style.scss */
  body#tinymce.wp-editor .alignright, body#tinymce.wp-editor img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  /* line 210, ../scss/editor-style.scss */
  body#tinymce.wp-editor .aligncenter, body#tinymce.wp-editor img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
}
